<% @book.comments.each do |comment| %>
<tr>
  <td><%= link_to comment.user.name, user_path(comment.user) %></td>
  <td><%= comment.content %></td>
  <% if comment.user.id == current_user.id %>
  <td><%= link_to "delete", book_comments_path(comment.book_id), method: :delete, remote: true %></td>
  <% end %>
</tr>

<% end %>
