<div class="container">
	<div class="row">
		<%= flash[:success] %>
		<%= flash[:notice] %>
		<%= render 'users/list', book: @book, user: @users %>

		<div class="col-xs-9">

			<h1>Books</h1>
			<table class="table table-default table-hover">
				<tr>
					<th>Image</th>
					<th>Title</th>
					<th>Opinion</th>
					<th></th>
				</tr>
				<% @books.each do |book| %>
					<%= render "books/books", book: book %>


				<% end %>
			</table>
		</div>
	</div>
</div>
