<div class="container">
	<div class="row">
		<% if @book.errors.any? %>
		<ul>
			<h2><%= @book.errors.count %>errors prohibited this obj from being saved:</h2>
			<% @book.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
		<% end %>
		<%= render 'users/list', book: @book, user: @user %>
			<div class="col-xs-9">
						<h1>Books</h1>
						<table class="table table-default, table-hover">
						<tr class="info">
							<th></th>
							<th>Title</th>
							<th>Opinion</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
						<% @books.each do |book| %>
						<%= render "books", book: book %>
						<% end %>
						</table>
				</div>

		</div>
	</div>
</div>
